/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T &kp C_MUTE &kp C_PP &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G &kp LALT   &kp RALT &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B                     &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                                      &kp LGUI &mo 1 &kp SPACE              &kp RET &mo 2 &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        lower_layer {
            display-name = "NUM+SYS";
            // -----------------------------------------------------------------------------------------
    
           //  | TAB   |  1   |  2   |  3   |  4   |  5   | LCTRL | RCTRL |  6   |  7   |  8   |  9   |  0   | BSPC |
           //  | CTRL  | BT0  | BT1  | BT2  | BT3  | BT4  | LALT  | RALT  | LEFT | DOWN |  UP  | RIGHT| HOME | END  |
           //  | SHFT  | BTCLR| RGB  | RSET |BOOT  |UNLCK |       |       |PGUP |PGDN  |      |      |      |      |
           //                               | GUI  |      | SPACE|        | RET |      | ALT |
    
            bindings = <
                  &kp TAB    &sv_n1       &sv_n2       &sv_n3      &sv_n4      &sv_n5      &kp LCTRL   &kp RCTRL   &sv_n6     &sv_n7     &sv_n8     &sv_n9     &sv_n0     &kp BSPC
                  &kp LCTRL  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &kp LALT    &kp RALT    &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp HOME   &kp END
                  &kp LSHFT  &bt BT_CLR   &rgb_ug RGB_TOG &sys_reset &bootloader &studio_unlock             &kp PG_UP  &kp PG_DN  &trans     &trans     &trans     &trans
                  &kp LGUI     &trans       &kp SPACE                        &kp RET    &trans     &kp RALT
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
            // -----------------------------------------------------------------------------------------
            // | TAB   |  !   |  @   |  #   |  $   |  %   | LCTRL | RCTRL |  ^   |  &   |  *   |  (   |  )   | BSPC |
            // | CTRL  |  '   |  "   |  :   |  ;   |  =   | LALT  | RALT  |  -   |  +   |  [   |  ]   |  \   |  `   |
            // | SHFT  |  <   |  >   |  {   |  }   |  |   |       |       |  _   |  ?   |  ,   |  .   |  /   |  ~   |
            //                        | GUI  |      | SPACE |            | RET  |      | ALT |
    
            bindings = <
                  &kp TAB    &sv_excl  &sv_at   &sv_hash  &sv_dllr  &sv_prcnt   &kp LCTRL  &kp RCTRL  &sv_caret  &sv_amps  &sv_astrk  &sv_lpar  &sv_rpar  &kp BSPC
                  &kp LCTRL  &sv_sqt   &sv_dqt  &sv_colon &sv_semi  &sv_equal   &kp LALT   &kp RALT   &sv_minus  &sv_plus  &sv_lbkt   &sv_rbkt  &sv_bslh  &sv_grave
                  &kp LSHFT  &sv_lt    &sv_gt   &sv_lbrc  &sv_rbrc  &sv_pipe                         &sv_under  &sv_qmark &sv_comma  &sv_dot   &sv_slash &sv_tilde
                  &kp LGUI  &trans    &kp SPACE                         &kp RET    &trans    &kp RALT
            >;
        };

        extra_layer_1 {
            display-name = "EXTRA 1";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };
    };
};
